-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: hethongquanlyktxv1
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `baohong`
--

DROP TABLE IF EXISTS `baohong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `baohong` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `sinhvien_id` bigint unsigned NOT NULL,
  `phong_id` bigint unsigned NOT NULL,
  `mota` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `anhminhhoa` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trangthai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Cho sua' COMMENT 'Trang thai: Cho sua, Da hen, Dang sua, Hoan thanh',
  `ngayhen` date DEFAULT NULL COMMENT 'Ng├áy hß║╣n sß╗¡a chß╗»a',
  `noidung` text COLLATE utf8mb4_unicode_ci COMMENT 'Nß╗Öi dung chi tiß║┐t sß╗¡a chß╗»a',
  `do_sinh_vien_gay_ra` tinyint(1) NOT NULL DEFAULT '0',
  `phi_boi_thuong` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `baohong_sinhvien_id_foreign` (`sinhvien_id`),
  KEY `baohong_phong_id_foreign` (`phong_id`),
  CONSTRAINT `baohong_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `baohong_sinhvien_id_foreign` FOREIGN KEY (`sinhvien_id`) REFERENCES `sinhvien` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `baohong`
--

LOCK TABLES `baohong` WRITE;
/*!40000 ALTER TABLE `baohong` DISABLE KEYS */;
/*!40000 ALTER TABLE `baohong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cauhinh`
--

DROP TABLE IF EXISTS `cauhinh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cauhinh` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ten` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `giatri` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cauhinh_ten_unique` (`ten`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cauhinh`
--

LOCK TABLES `cauhinh` WRITE;
/*!40000 ALTER TABLE `cauhinh` DISABLE KEYS */;
INSERT INTO `cauhinh` VALUES (1,'gia_dien','3500','2026-05-02 21:48:22','2026-05-02 21:48:22'),(2,'gia_nuoc','15000','2026-05-02 21:48:22','2026-05-02 21:48:22'),(3,'hotline','0900000000','2026-05-02 21:48:22','2026-05-02 21:48:22');
/*!40000 ALTER TABLE `cauhinh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dangky`
--

DROP TABLE IF EXISTS `dangky`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dangky` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `sinhvien_id` bigint unsigned DEFAULT NULL,
  `ho_ten` text COLLATE utf8mb4_unicode_ci,
  `email` text COLLATE utf8mb4_unicode_ci,
  `so_dien_thoai` text COLLATE utf8mb4_unicode_ci,
  `so_cccd` text COLLATE utf8mb4_unicode_ci,
  `anh_the_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `anh_cccd_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lookup_token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `token_expires_at` timestamp NULL DEFAULT NULL,
  `phong_id` bigint unsigned NOT NULL,
  `giuong_no` int DEFAULT NULL,
  `active_bed_lock` varchar(255) COLLATE utf8mb4_unicode_ci GENERATED ALWAYS AS (if((`trangthai` in (_utf8mb4'pending',_utf8mb4'approved_pending_payment')),concat(`phong_id`,_utf8mb4'-',`giuong_no`),NULL)) VIRTUAL,
  `trangthai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `loaidangky` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Thue phong',
  `ghichu` text COLLATE utf8mb4_unicode_ci,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `so_dien_thoai_blind_index` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `so_cccd_blind_index` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `dangky_lookup_token_unique` (`lookup_token`),
  UNIQUE KEY `unique_active_registration_per_bed` (`active_bed_lock`),
  KEY `dangky_sinhvien_id_foreign` (`sinhvien_id`),
  KEY `dangky_phong_id_foreign` (`phong_id`),
  KEY `dangky_so_dien_thoai_blind_index_index` (`so_dien_thoai_blind_index`),
  KEY `dangky_so_cccd_blind_index_index` (`so_cccd_blind_index`),
  KEY `dangky_trangthai_index` (`trangthai`),
  CONSTRAINT `dangky_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `dangky_sinhvien_id_foreign` FOREIGN KEY (`sinhvien_id`) REFERENCES `sinhvien` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dangky`
--

LOCK TABLES `dangky` WRITE;
/*!40000 ALTER TABLE `dangky` DISABLE KEYS */;
/*!40000 ALTER TABLE `dangky` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `danhgia`
--

DROP TABLE IF EXISTS `danhgia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `danhgia` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `sinhvien_id` bigint unsigned NOT NULL,
  `phong_id` bigint unsigned NOT NULL,
  `diem` tinyint unsigned NOT NULL COMMENT 'Diem danh gia 1-5',
  `noidung` text COLLATE utf8mb4_unicode_ci,
  `ngaydanhgia` date NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `danhgia_sinhvien_id_foreign` (`sinhvien_id`),
  KEY `danhgia_phong_id_foreign` (`phong_id`),
  CONSTRAINT `danhgia_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `danhgia_sinhvien_id_foreign` FOREIGN KEY (`sinhvien_id`) REFERENCES `sinhvien` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `danhgia`
--

LOCK TABLES `danhgia` WRITE;
/*!40000 ALTER TABLE `danhgia` DISABLE KEYS */;
/*!40000 ALTER TABLE `danhgia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoadon`
--

DROP TABLE IF EXISTS `hoadon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hoadon` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `toa_nha_id` bigint unsigned DEFAULT NULL,
  `phong_id` bigint unsigned NOT NULL,
  `sinhvien_id` bigint unsigned DEFAULT NULL,
  `loai_hoadon` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'monthly',
  `thang` tinyint unsigned NOT NULL,
  `nam` smallint unsigned NOT NULL,
  `chisodiencu` int unsigned NOT NULL DEFAULT '0',
  `chisodienmoi` int unsigned NOT NULL DEFAULT '0',
  `chisonuoccu` int unsigned NOT NULL DEFAULT '0',
  `chisonuocmoi` int unsigned NOT NULL DEFAULT '0',
  `tienphong` int unsigned NOT NULL DEFAULT '0' COMMENT 'Tiß╗ün ph├▓ng cß╗æ ─æß╗ïnh',
  `tiendien` int unsigned NOT NULL DEFAULT '0' COMMENT 'Tiß╗ün ─æiß╗çn (theo chß╗ë sß╗æ)',
  `tiennuoc` int unsigned NOT NULL DEFAULT '0' COMMENT 'Tiß╗ün n╞░ß╗¢c (theo chß╗ë sß╗æ)',
  `phidichvu` int unsigned NOT NULL DEFAULT '0' COMMENT 'Ph├¡ dß╗ïch vß╗Ñ kh├íc',
  `tienphat` int unsigned NOT NULL DEFAULT '0' COMMENT 'Tiß╗ün phß║ít vi phß║ím hoß║╖c ph├¡ ph├ít sinh',
  `tongtien` int unsigned NOT NULL DEFAULT '0',
  `calculation_details` json DEFAULT NULL,
  `trangthaithanhtoan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Ch╞░a thanh to├ín',
  `ngay_thanh_toan` timestamp NULL DEFAULT NULL,
  `ngayxuat` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `hoadon_phong_id_foreign` (`phong_id`),
  KEY `hoadon_sinhvien_id_foreign` (`sinhvien_id`),
  KEY `hoadon_trangthaithanhtoan_index` (`trangthaithanhtoan`),
  KEY `hoadon_toa_nha_id_foreign` (`toa_nha_id`),
  CONSTRAINT `hoadon_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `hoadon_sinhvien_id_foreign` FOREIGN KEY (`sinhvien_id`) REFERENCES `sinhvien` (`id`) ON DELETE SET NULL,
  CONSTRAINT `hoadon_toa_nha_id_foreign` FOREIGN KEY (`toa_nha_id`) REFERENCES `toa_nhas` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoadon`
--

LOCK TABLES `hoadon` WRITE;
/*!40000 ALTER TABLE `hoadon` DISABLE KEYS */;
/*!40000 ALTER TABLE `hoadon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hopdong`
--

DROP TABLE IF EXISTS `hopdong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hopdong` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `toa_nha_id` bigint unsigned DEFAULT NULL,
  `sinhvien_id` bigint unsigned NOT NULL,
  `phong_id` bigint unsigned NOT NULL,
  `ngay_bat_dau` date NOT NULL,
  `ngay_ket_thuc` date NOT NULL,
  `giaphong_luc_ky` bigint unsigned NOT NULL,
  `trang_thai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `ghichu` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `hopdong_sinhvien_id_foreign` (`sinhvien_id`),
  KEY `hopdong_phong_id_foreign` (`phong_id`),
  KEY `hopdong_trang_thai_index` (`trang_thai`),
  KEY `hopdong_toa_nha_id_foreign` (`toa_nha_id`),
  CONSTRAINT `hopdong_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `hopdong_sinhvien_id_foreign` FOREIGN KEY (`sinhvien_id`) REFERENCES `sinhvien` (`id`) ON DELETE CASCADE,
  CONSTRAINT `hopdong_toa_nha_id_foreign` FOREIGN KEY (`toa_nha_id`) REFERENCES `toa_nhas` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hopdong`
--

LOCK TABLES `hopdong` WRITE;
/*!40000 ALTER TABLE `hopdong` DISABLE KEYS */;
/*!40000 ALTER TABLE `hopdong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kyluat`
--

DROP TABLE IF EXISTS `kyluat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kyluat` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `sinhvien_id` bigint unsigned NOT NULL,
  `noidung` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `ngayvipham` date NOT NULL,
  `mucdo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'medium',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kyluat_sinhvien_id_foreign` (`sinhvien_id`),
  CONSTRAINT `kyluat_sinhvien_id_foreign` FOREIGN KEY (`sinhvien_id`) REFERENCES `sinhvien` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kyluat`
--

LOCK TABLES `kyluat` WRITE;
/*!40000 ALTER TABLE `kyluat` DISABLE KEYS */;
INSERT INTO `kyluat` VALUES (1,3,'Sß╗¡ dß╗Ñng thiß║┐t bß╗ï ─æiß╗çn c├┤ng suß║Ñt lß╗¢n tr├íi quy ─æß╗ïnh (Bß║┐p ─æiß╗çn)','2026-04-28','medium','2026-05-02 22:15:48','2026-05-02 22:15:48',NULL),(2,3,'Vß╗ü muß╗Ön sau 23h kh├┤ng c├│ l├╜ do ch├¡nh ─æ├íng','2026-05-01','low','2026-05-02 22:15:48','2026-05-02 22:15:48',NULL);
/*!40000 ALTER TABLE `kyluat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lichsubaotri`
--

DROP TABLE IF EXISTS `lichsubaotri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lichsubaotri` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `vattu_id` bigint unsigned NOT NULL,
  `ngaybaotri` date NOT NULL,
  `noidung` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `chiphi` decimal(15,2) DEFAULT NULL,
  `donvithuchien` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `lichsubaotri_vattu_id_foreign` (`vattu_id`),
  CONSTRAINT `lichsubaotri_vattu_id_foreign` FOREIGN KEY (`vattu_id`) REFERENCES `vattu` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lichsubaotri`
--

LOCK TABLES `lichsubaotri` WRITE;
/*!40000 ALTER TABLE `lichsubaotri` DISABLE KEYS */;
/*!40000 ALTER TABLE `lichsubaotri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lienhe`
--

DROP TABLE IF EXISTS `lienhe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lienhe` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ho_ten` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `noi_dung` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `trang_thai` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Ch╞░a xß╗¡ l├╜',
  `ghi_chu_admin` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `lienhe_trang_thai_index` (`trang_thai`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lienhe`
--

LOCK TABLES `lienhe` WRITE;
/*!40000 ALTER TABLE `lienhe` DISABLE KEYS */;
/*!40000 ALTER TABLE `lienhe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=66 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notifiable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notifiable_id` bigint unsigned NOT NULL,
  `data` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_notifiable_type_notifiable_id_index` (`notifiable_type`,`notifiable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phong`
--

DROP TABLE IF EXISTS `phong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phong` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `toa_nha_id` bigint unsigned DEFAULT NULL,
  `tenphong` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tang` tinyint unsigned NOT NULL DEFAULT '1' COMMENT 'Tß║ºng cß╗ºa ph├▓ng',
  `giaphong` int unsigned NOT NULL,
  `soluongtoida` int unsigned NOT NULL,
  `succhuamax` int unsigned NOT NULL DEFAULT '8' COMMENT 'Sß╗⌐c chß╗⌐a tß╗æi ─æa (thay thß║┐ soluongtoida)',
  `dango` int NOT NULL DEFAULT '0',
  `mota` text COLLATE utf8mb4_unicode_ci,
  `gioitinh` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Nam',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `phong_toa_nha_id_foreign` (`toa_nha_id`),
  CONSTRAINT `phong_toa_nha_id_foreign` FOREIGN KEY (`toa_nha_id`) REFERENCES `toa_nhas` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phong`
--

LOCK TABLES `phong` WRITE;
/*!40000 ALTER TABLE `phong` DISABLE KEYS */;
/*!40000 ALTER TABLE `phong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sinhvien`
--

DROP TABLE IF EXISTS `sinhvien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sinhvien` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `masinhvien` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lop` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ngaysinh` date DEFAULT NULL,
  `diachi` text COLLATE utf8mb4_unicode_ci,
  `dantoc` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT 'Kinh',
  `ngay_vao` date DEFAULT NULL,
  `ngay_het_han` date DEFAULT NULL,
  `sodienthoai` text COLLATE utf8mb4_unicode_ci,
  `so_cccd` text COLLATE utf8mb4_unicode_ci,
  `phong_id` bigint unsigned DEFAULT NULL,
  `giuong_no` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `sodienthoai_blind_index` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `so_cccd_blind_index` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `sinhvien_masinhvien_unique` (`masinhvien`),
  KEY `sinhvien_user_id_foreign` (`user_id`),
  KEY `sinhvien_phong_id_foreign` (`phong_id`),
  KEY `sinhvien_sodienthoai_blind_index_index` (`sodienthoai_blind_index`),
  KEY `sinhvien_so_cccd_blind_index_index` (`so_cccd_blind_index`),
  CONSTRAINT `sinhvien_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE SET NULL,
  CONSTRAINT `sinhvien_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sinhvien`
--

LOCK TABLES `sinhvien` WRITE;
/*!40000 ALTER TABLE `sinhvien` DISABLE KEYS */;
/*!40000 ALTER TABLE `sinhvien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taisan`
--

DROP TABLE IF EXISTS `taisan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `taisan` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `phong_id` bigint unsigned NOT NULL,
  `tentaisan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `soluong` int unsigned NOT NULL DEFAULT '1',
  `tinhtrang` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '─Éang sß╗¡ dß╗Ñng',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `taisan_phong_id_foreign` (`phong_id`),
  CONSTRAINT `taisan_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taisan`
--

LOCK TABLES `taisan` WRITE;
/*!40000 ALTER TABLE `taisan` DISABLE KEYS */;
/*!40000 ALTER TABLE `taisan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_logs`
--

DROP TABLE IF EXISTS `tbl_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned DEFAULT NULL,
  `hanh_dong` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ten_model` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_ban_ghi` bigint unsigned NOT NULL,
  `du_lieu_cu` json DEFAULT NULL,
  `du_lieu_moi` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tbl_logs_ten_model_id_ban_ghi_index` (`ten_model`,`id_ban_ghi`),
  KEY `tbl_logs_user_id_index` (`user_id`),
  KEY `tbl_logs_created_at_index` (`created_at`),
  CONSTRAINT `tbl_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_logs`
--

LOCK TABLES `tbl_logs` WRITE;
/*!40000 ALTER TABLE `tbl_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thongbao`
--

DROP TABLE IF EXISTS `thongbao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thongbao` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tieude` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `noidung` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `doituong` enum('sinhvien','admin','tatca') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'tatca',
  `phong_id` bigint unsigned DEFAULT NULL,
  `sinhvien_id` bigint unsigned DEFAULT NULL,
  `ngaydang` date NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `thongbao_phong_id_foreign` (`phong_id`),
  KEY `thongbao_sinhvien_id_foreign` (`sinhvien_id`),
  CONSTRAINT `thongbao_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE SET NULL,
  CONSTRAINT `thongbao_sinhvien_id_foreign` FOREIGN KEY (`sinhvien_id`) REFERENCES `sinhvien` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thongbao`
--

LOCK TABLES `thongbao` WRITE;
/*!40000 ALTER TABLE `thongbao` DISABLE KEYS */;
/*!40000 ALTER TABLE `thongbao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `toa_nhas`
--

DROP TABLE IF EXISTS `toa_nhas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `toa_nhas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ten_toa_nha` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ma_toa_nha` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mo_ta` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `toa_nhas_ten_toa_nha_unique` (`ten_toa_nha`),
  UNIQUE KEY `toa_nhas_ma_toa_nha_unique` (`ma_toa_nha`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `toa_nhas`
--

LOCK TABLES `toa_nhas` WRITE;
/*!40000 ALTER TABLE `toa_nhas` DISABLE KEYS */;
/*!40000 ALTER TABLE `toa_nhas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `gioitinh` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Nam',
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vaitro` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'sinhvien',
  `toa_nha_id` bigint unsigned DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_toa_nha_id_foreign` (`toa_nha_id`),
  CONSTRAINT `users_toa_nha_id_foreign` FOREIGN KEY (`toa_nha_id`) REFERENCES `toa_nhas` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vattu`
--

DROP TABLE IF EXISTS `vattu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vattu` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `phong_id` bigint unsigned NOT NULL,
  `tenvattu` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'T├¬n vß║¡t t╞░: Giuong, Tu, May lanh...',
  `soluong` int unsigned NOT NULL DEFAULT '1' COMMENT 'Sß╗æ l╞░ß╗úng vß║¡t t╞░',
  `tinhtrang` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Hoat dong tot' COMMENT 'T├¼nh trß║íng: Hoat dong tot, Can sua, Can thay',
  `mota` text COLLATE utf8mb4_unicode_ci COMMENT 'M├┤ tß║ú chi tiß║┐t',
  `ngaymua` date DEFAULT NULL,
  `thoigianbaohanh` int DEFAULT NULL COMMENT 'Thoi gian bao hanh tinh bang thang',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `vattu_phong_id_foreign` (`phong_id`),
  CONSTRAINT `vattu_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vattu`
--

LOCK TABLES `vattu` WRITE;
/*!40000 ALTER TABLE `vattu` DISABLE KEYS */;
/*!40000 ALTER TABLE `vattu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `yeu_cau_gia_han`
--

DROP TABLE IF EXISTS `yeu_cau_gia_han`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `yeu_cau_gia_han` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `hopdong_id` bigint unsigned NOT NULL,
  `sinhvien_id` bigint unsigned NOT NULL,
  `ngay_ket_thuc_moi` date NOT NULL,
  `ly_do` text COLLATE utf8mb4_unicode_ci,
  `trang_thai` enum('pending','approved','rejected') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `ghi_chu_admin` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `yeu_cau_gia_han_sinhvien_id_trang_thai_index` (`sinhvien_id`,`trang_thai`),
  KEY `yeu_cau_gia_han_hopdong_id_trang_thai_index` (`hopdong_id`,`trang_thai`),
  CONSTRAINT `yeu_cau_gia_han_hopdong_id_foreign` FOREIGN KEY (`hopdong_id`) REFERENCES `hopdong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `yeu_cau_gia_han_sinhvien_id_foreign` FOREIGN KEY (`sinhvien_id`) REFERENCES `sinhvien` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yeu_cau_gia_han`
--

LOCK TABLES `yeu_cau_gia_han` WRITE;
/*!40000 ALTER TABLE `yeu_cau_gia_han` DISABLE KEYS */;
/*!40000 ALTER TABLE `yeu_cau_gia_han` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-03 15:58:18
