-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: hethongquanlyktxv1
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `chuc_vu` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ghi_chu` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `admin_user_id_unique` (`user_id`),
  CONSTRAINT `admin_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,1,'Tr╞░ß╗ƒng ban quß║ún l├╜',NULL,'2026-05-03 04:29:39','2026-05-03 04:29:39',NULL);
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `baohong`
--

DROP TABLE IF EXISTS `baohong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `baohong` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `sinhvien_id` bigint unsigned NOT NULL,
  `phong_id` bigint unsigned NOT NULL,
  `giuong_id` bigint unsigned DEFAULT NULL,
  `mo_ta` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `hinh_anh_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trang_thai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `chi_phi_du_kien` bigint unsigned NOT NULL DEFAULT '0',
  `nguoi_chiu_phi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ktx',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `baohong_sinhvien_id_foreign` (`sinhvien_id`),
  KEY `baohong_phong_id_foreign` (`phong_id`),
  KEY `baohong_giuong_id_foreign` (`giuong_id`),
  CONSTRAINT `baohong_giuong_id_foreign` FOREIGN KEY (`giuong_id`) REFERENCES `giuong` (`id`) ON DELETE SET NULL,
  CONSTRAINT `baohong_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `baohong_sinhvien_id_foreign` FOREIGN KEY (`sinhvien_id`) REFERENCES `sinhvien` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `baohong`
--

LOCK TABLES `baohong` WRITE;
/*!40000 ALTER TABLE `baohong` DISABLE KEYS */;
/*!40000 ALTER TABLE `baohong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cauhinh`
--

DROP TABLE IF EXISTS `cauhinh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cauhinh` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ten` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'T├¬n cß║Ñu h├¼nh',
  `giatri` text COLLATE utf8mb4_unicode_ci COMMENT 'Gi├í trß╗ï cß║Ñu h├¼nh',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cauhinh_ten_unique` (`ten`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cauhinh`
--

LOCK TABLES `cauhinh` WRITE;
/*!40000 ALTER TABLE `cauhinh` DISABLE KEYS */;
INSERT INTO `cauhinh` VALUES (1,'phi_the_chan','1000000','2026-05-03 04:32:42','2026-05-03 04:32:42'),(2,'phi_dich_vu','50000','2026-05-03 04:32:42','2026-05-03 04:32:42'),(3,'don_gia_dien','3500','2026-05-03 04:32:42','2026-05-03 04:32:42'),(4,'don_gia_nuoc','15000','2026-05-03 04:32:42','2026-05-03 04:32:42'),(5,'ten_ky_tuc_xa','K├╜ t├║c x├í ─Éß║íi hß╗ìc Ph╞░╞íng ─É├┤ng','2026-05-03 04:32:42','2026-05-03 04:32:42'),(6,'email_lien_he','ktx@phuongdong.edu.vn','2026-05-03 04:32:42','2026-05-03 04:32:42'),(7,'so_dien_thoai_lien_he','024.3456.7890','2026-05-03 04:32:42','2026-05-03 04:32:42');
/*!40000 ALTER TABLE `cauhinh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_so_dien_nuoc`
--

DROP TABLE IF EXISTS `chi_so_dien_nuoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chi_so_dien_nuoc` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `phong_id` bigint unsigned NOT NULL,
  `loai` enum('dien','nuoc') COLLATE utf8mb4_unicode_ci NOT NULL,
  `chi_so_cu` int unsigned NOT NULL,
  `chi_so_moi` int unsigned NOT NULL,
  `thang` tinyint unsigned NOT NULL,
  `nam` smallint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `chi_so_dien_nuoc_phong_id_loai_thang_nam_unique` (`phong_id`,`loai`,`thang`,`nam`),
  CONSTRAINT `chi_so_dien_nuoc_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_so_dien_nuoc`
--

LOCK TABLES `chi_so_dien_nuoc` WRITE;
/*!40000 ALTER TABLE `chi_so_dien_nuoc` DISABLE KEYS */;
/*!40000 ALTER TABLE `chi_so_dien_nuoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dangky`
--

DROP TABLE IF EXISTS `dangky`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dangky` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned DEFAULT NULL,
  `ho_ten` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone_encrypted` text COLLATE utf8mb4_unicode_ci,
  `id_card_encrypted` text COLLATE utf8mb4_unicode_ci,
  `gender` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `toa_nha_id` bigint unsigned NOT NULL,
  `loai_phong_id` bigint unsigned NOT NULL,
  `phong_id` bigint unsigned DEFAULT NULL,
  `trang_thai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `ghi_chu` text COLLATE utf8mb4_unicode_ci,
  `lookup_token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `dangky_lookup_token_unique` (`lookup_token`),
  KEY `dangky_user_id_foreign` (`user_id`),
  KEY `dangky_toa_nha_id_foreign` (`toa_nha_id`),
  KEY `dangky_loai_phong_id_foreign` (`loai_phong_id`),
  KEY `dangky_phong_id_foreign` (`phong_id`),
  CONSTRAINT `dangky_loai_phong_id_foreign` FOREIGN KEY (`loai_phong_id`) REFERENCES `loai_phong` (`id`),
  CONSTRAINT `dangky_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`),
  CONSTRAINT `dangky_toa_nha_id_foreign` FOREIGN KEY (`toa_nha_id`) REFERENCES `toa_nha` (`id`),
  CONSTRAINT `dangky_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dangky`
--

LOCK TABLES `dangky` WRITE;
/*!40000 ALTER TABLE `dangky` DISABLE KEYS */;
/*!40000 ALTER TABLE `dangky` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `danhgia`
--

DROP TABLE IF EXISTS `danhgia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `danhgia` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `sinhvien_id` bigint unsigned NOT NULL,
  `phong_id` bigint unsigned NOT NULL,
  `rating` tinyint unsigned NOT NULL DEFAULT '5',
  `binh_luan` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `danhgia_sinhvien_id_foreign` (`sinhvien_id`),
  KEY `danhgia_phong_id_foreign` (`phong_id`),
  CONSTRAINT `danhgia_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `danhgia_sinhvien_id_foreign` FOREIGN KEY (`sinhvien_id`) REFERENCES `sinhvien` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `danhgia`
--

LOCK TABLES `danhgia` WRITE;
/*!40000 ALTER TABLE `danhgia` DISABLE KEYS */;
/*!40000 ALTER TABLE `danhgia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `giuong`
--

DROP TABLE IF EXISTS `giuong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `giuong` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `phong_id` bigint unsigned NOT NULL,
  `ma_giuong` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `trang_thai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'available',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `giuong_ma_giuong_unique` (`ma_giuong`),
  KEY `giuong_phong_id_foreign` (`phong_id`),
  CONSTRAINT `giuong_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `giuong`
--

LOCK TABLES `giuong` WRITE;
/*!40000 ALTER TABLE `giuong` DISABLE KEYS */;
/*!40000 ALTER TABLE `giuong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoadon`
--

DROP TABLE IF EXISTS `hoadon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hoadon` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `hopdong_id` bigint unsigned DEFAULT NULL,
  `phong_id` bigint unsigned DEFAULT NULL,
  `ma_hoa_don` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `loai_hoadon` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tong_tien` bigint unsigned NOT NULL,
  `trang_thai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'unpaid',
  `ngay_het_han` date DEFAULT NULL,
  `ngay_thanh_toan` date DEFAULT NULL,
  `chi_tiet` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `hoadon_ma_hoa_don_unique` (`ma_hoa_don`),
  KEY `hoadon_hopdong_id_foreign` (`hopdong_id`),
  KEY `hoadon_phong_id_foreign` (`phong_id`),
  CONSTRAINT `hoadon_hopdong_id_foreign` FOREIGN KEY (`hopdong_id`) REFERENCES `hopdong` (`id`) ON DELETE SET NULL,
  CONSTRAINT `hoadon_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoadon`
--

LOCK TABLES `hoadon` WRITE;
/*!40000 ALTER TABLE `hoadon` DISABLE KEYS */;
/*!40000 ALTER TABLE `hoadon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hopdong`
--

DROP TABLE IF EXISTS `hopdong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hopdong` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `sinhvien_id` bigint unsigned NOT NULL,
  `giuong_id` bigint unsigned NOT NULL,
  `ngay_bat_dau` date NOT NULL,
  `ngay_ket_thuc` date NOT NULL,
  `gia_thuc_te` bigint unsigned NOT NULL,
  `trang_thai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `ghi_chu` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `hopdong_sinhvien_id_foreign` (`sinhvien_id`),
  KEY `hopdong_giuong_id_foreign` (`giuong_id`),
  CONSTRAINT `hopdong_giuong_id_foreign` FOREIGN KEY (`giuong_id`) REFERENCES `giuong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `hopdong_sinhvien_id_foreign` FOREIGN KEY (`sinhvien_id`) REFERENCES `sinhvien` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hopdong`
--

LOCK TABLES `hopdong` WRITE;
/*!40000 ALTER TABLE `hopdong` DISABLE KEYS */;
/*!40000 ALTER TABLE `hopdong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kyluat`
--

DROP TABLE IF EXISTS `kyluat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kyluat` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `sinhvien_id` bigint unsigned NOT NULL,
  `tieu_de` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `noi_dung` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `muc_do` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'low',
  `ngay_vi_pham` date NOT NULL,
  `hinh_thuc_xu_ly` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kyluat_sinhvien_id_foreign` (`sinhvien_id`),
  CONSTRAINT `kyluat_sinhvien_id_foreign` FOREIGN KEY (`sinhvien_id`) REFERENCES `sinhvien` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kyluat`
--

LOCK TABLES `kyluat` WRITE;
/*!40000 ALTER TABLE `kyluat` DISABLE KEYS */;
/*!40000 ALTER TABLE `kyluat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lichsubaotri`
--

DROP TABLE IF EXISTS `lichsubaotri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lichsubaotri` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `vattu_id` bigint unsigned DEFAULT NULL,
  `phong_id` bigint unsigned NOT NULL,
  `ngaybaotri` date NOT NULL,
  `noidung` text COLLATE utf8mb4_unicode_ci,
  `chiphi` decimal(15,2) NOT NULL DEFAULT '0.00',
  `donvithuchien` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nguoithuchien` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trangthai` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `lichsubaotri_vattu_id_foreign` (`vattu_id`),
  KEY `lichsubaotri_phong_id_foreign` (`phong_id`),
  CONSTRAINT `lichsubaotri_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `lichsubaotri_vattu_id_foreign` FOREIGN KEY (`vattu_id`) REFERENCES `vattu` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lichsubaotri`
--

LOCK TABLES `lichsubaotri` WRITE;
/*!40000 ALTER TABLE `lichsubaotri` DISABLE KEYS */;
/*!40000 ALTER TABLE `lichsubaotri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lienhe`
--

DROP TABLE IF EXISTS `lienhe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lienhe` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ho_ten` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `noi_dung` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `trang_thai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Ch╞░a xß╗¡ l├╜',
  `ghi_chu_admin` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lienhe`
--

LOCK TABLES `lienhe` WRITE;
/*!40000 ALTER TABLE `lienhe` DISABLE KEYS */;
/*!40000 ALTER TABLE `lienhe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loai_phong`
--

DROP TABLE IF EXISTS `loai_phong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loai_phong` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ten_loai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `suc_chua` int unsigned NOT NULL,
  `gia_thang` bigint unsigned NOT NULL,
  `tien_nghi` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `loai_phong_ten_loai_unique` (`ten_loai`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loai_phong`
--

LOCK TABLES `loai_phong` WRITE;
/*!40000 ALTER TABLE `loai_phong` DISABLE KEYS */;
INSERT INTO `loai_phong` VALUES (1,'Standard 4',4,500000,'[\"wifi\", \"quat_tran\"]','2026-05-03 04:29:39','2026-05-03 04:29:39'),(2,'VIP 2',2,1200000,'[\"wifi\", \"quat_tran\", \"dieu_hoa\", \"nong_lanh\"]','2026-05-03 04:29:39','2026-05-03 04:29:39');
/*!40000 ALTER TABLE `loai_phong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nhat_ky`
--

DROP TABLE IF EXISTS `nhat_ky`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nhat_ky` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned DEFAULT NULL,
  `hanh_dong` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ten_model` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_ban_ghi` bigint unsigned NOT NULL,
  `du_lieu_cu` json DEFAULT NULL,
  `du_lieu_moi` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `nhat_ky_user_id_foreign` (`user_id`),
  CONSTRAINT `nhat_ky_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nhat_ky`
--

LOCK TABLES `nhat_ky` WRITE;
/*!40000 ALTER TABLE `nhat_ky` DISABLE KEYS */;
/*!40000 ALTER TABLE `nhat_ky` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phong`
--

DROP TABLE IF EXISTS `phong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phong` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `toa_nha_id` bigint unsigned NOT NULL,
  `loai_phong_id` bigint unsigned NOT NULL,
  `ten_phong` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tang` int unsigned NOT NULL,
  `gioitinh_han_che` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'any',
  `trang_thai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `phong_toa_nha_id_ten_phong_unique` (`toa_nha_id`,`ten_phong`),
  KEY `phong_loai_phong_id_foreign` (`loai_phong_id`),
  CONSTRAINT `phong_loai_phong_id_foreign` FOREIGN KEY (`loai_phong_id`) REFERENCES `loai_phong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `phong_toa_nha_id_foreign` FOREIGN KEY (`toa_nha_id`) REFERENCES `toa_nha` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phong`
--

LOCK TABLES `phong` WRITE;
/*!40000 ALTER TABLE `phong` DISABLE KEYS */;
/*!40000 ALTER TABLE `phong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sinhvien`
--

DROP TABLE IF EXISTS `sinhvien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sinhvien` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `ma_sinh_vien` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `lop` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `khoa` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ngay_nhap_hoc` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `sinhvien_user_id_unique` (`user_id`),
  UNIQUE KEY `sinhvien_ma_sinh_vien_unique` (`ma_sinh_vien`),
  CONSTRAINT `sinhvien_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sinhvien`
--

LOCK TABLES `sinhvien` WRITE;
/*!40000 ALTER TABLE `sinhvien` DISABLE KEYS */;
INSERT INTO `sinhvien` VALUES (1,2,'SV001','CNTT-K15','C├┤ng nghß╗ç th├┤ng tin',NULL,'2026-05-03 04:29:39','2026-05-03 04:29:39',NULL);
/*!40000 ALTER TABLE `sinhvien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taisan`
--

DROP TABLE IF EXISTS `taisan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `taisan` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `phong_id` bigint unsigned NOT NULL,
  `ten_tai_san` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ma_tai_san` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `so_luong` int unsigned NOT NULL DEFAULT '1',
  `tinh_trang` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'good',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `taisan_ma_tai_san_unique` (`ma_tai_san`),
  KEY `taisan_phong_id_foreign` (`phong_id`),
  CONSTRAINT `taisan_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taisan`
--

LOCK TABLES `taisan` WRITE;
/*!40000 ALTER TABLE `taisan` DISABLE KEYS */;
/*!40000 ALTER TABLE `taisan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thanh_toan`
--

DROP TABLE IF EXISTS `thanh_toan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thanh_toan` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `hoadon_id` bigint unsigned NOT NULL,
  `phuong_thuc` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ma_giao_dich` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `so_tien` bigint unsigned NOT NULL,
  `ngay_giao_dich` timestamp NOT NULL,
  `ghi_chu` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `thanh_toan_hoadon_id_foreign` (`hoadon_id`),
  CONSTRAINT `thanh_toan_hoadon_id_foreign` FOREIGN KEY (`hoadon_id`) REFERENCES `hoadon` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thanh_toan`
--

LOCK TABLES `thanh_toan` WRITE;
/*!40000 ALTER TABLE `thanh_toan` DISABLE KEYS */;
/*!40000 ALTER TABLE `thanh_toan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thongbao`
--

DROP TABLE IF EXISTS `thongbao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thongbao` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tieu_de` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `noi_dung` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `loai_thong_bao` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'general',
  `doi_tuong_nhan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'all',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thongbao`
--

LOCK TABLES `thongbao` WRITE;
/*!40000 ALTER TABLE `thongbao` DISABLE KEYS */;
/*!40000 ALTER TABLE `thongbao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `toa_nha`
--

DROP TABLE IF EXISTS `toa_nha`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `toa_nha` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ten_toa_nha` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ma_toa_nha` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dia_chi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mo_ta` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `toa_nha_ten_toa_nha_unique` (`ten_toa_nha`),
  UNIQUE KEY `toa_nha_ma_toa_nha_unique` (`ma_toa_nha`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `toa_nha`
--

LOCK TABLES `toa_nha` WRITE;
/*!40000 ALTER TABLE `toa_nha` DISABLE KEYS */;
INSERT INTO `toa_nha` VALUES (1,'T├▓a Nh├á A','TOA_A','Khu A, KTX ─Éß║íi hß╗ìc','T├▓a nh├á d├ánh cho sinh vi├¬n Nam','2026-05-03 04:29:39','2026-05-03 04:29:39'),(2,'T├▓a Nh├á B','TOA_B','Khu B, KTX ─Éß║íi hß╗ìc','T├▓a nh├á d├ánh cho sinh vi├¬n Nß╗»','2026-05-03 04:29:39','2026-05-03 04:29:39'),(3,'C','TOA_C',NULL,'T├▓a nam','2026-05-03 06:53:50','2026-05-03 06:53:50');
/*!40000 ALTER TABLE `toa_nha` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `vaitro` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'sinhvien',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `toa_nha_id` bigint unsigned DEFAULT NULL,
  `phone` text COLLATE utf8mb4_unicode_ci,
  `phone_blind_index` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_card` text COLLATE utf8mb4_unicode_ci,
  `id_card_blind_index` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gender` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `address` text COLLATE utf8mb4_unicode_ci,
  `ethnicity` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_toa_nha_id_foreign` (`toa_nha_id`),
  KEY `users_phone_blind_index_index` (`phone_blind_index`),
  KEY `users_id_card_blind_index_index` (`id_card_blind_index`),
  CONSTRAINT `users_toa_nha_id_foreign` FOREIGN KEY (`toa_nha_id`) REFERENCES `toa_nha` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'System Admin','admin@ktx.test',NULL,'$2y$12$QI2rv3piaIChi/MeuDpSnOrK3EK52yL6iG.RjviRUFSfyawYRzP6e','admin',1,NULL,NULL,NULL,NULL,NULL,'male',NULL,NULL,NULL,NULL,'2026-05-03 04:29:39','2026-05-03 04:29:39',NULL),(2,'Nguyß╗àn V─ân A','sv1@ktx.test',NULL,'$2y$12$DFlyKs26W0LuhMN5xBkO3OTzbYASNlyKXxI0w96JX5T7Xugx/nUmC','sinhvien',1,NULL,NULL,NULL,NULL,NULL,'male',NULL,NULL,NULL,NULL,'2026-05-03 04:29:39','2026-05-03 04:29:39',NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vattu`
--

DROP TABLE IF EXISTS `vattu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vattu` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `phong_id` bigint unsigned NOT NULL,
  `tenvattu` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `soluong` int NOT NULL DEFAULT '1',
  `tinhtrang` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mota` text COLLATE utf8mb4_unicode_ci,
  `ngaymua` date DEFAULT NULL,
  `thoigianbaohanh` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `vattu_phong_id_foreign` (`phong_id`),
  CONSTRAINT `vattu_phong_id_foreign` FOREIGN KEY (`phong_id`) REFERENCES `phong` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vattu`
--

LOCK TABLES `vattu` WRITE;
/*!40000 ALTER TABLE `vattu` DISABLE KEYS */;
/*!40000 ALTER TABLE `vattu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `yeu_cau_gia_han`
--

DROP TABLE IF EXISTS `yeu_cau_gia_han`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `yeu_cau_gia_han` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `hopdong_id` bigint unsigned NOT NULL,
  `sinhvien_id` bigint unsigned NOT NULL,
  `ngay_ket_thuc_moi` date NOT NULL,
  `ly_do` text COLLATE utf8mb4_unicode_ci,
  `trang_thai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `ghi_chu_admin` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `yeu_cau_gia_han_hopdong_id_foreign` (`hopdong_id`),
  KEY `yeu_cau_gia_han_sinhvien_id_foreign` (`sinhvien_id`),
  CONSTRAINT `yeu_cau_gia_han_hopdong_id_foreign` FOREIGN KEY (`hopdong_id`) REFERENCES `hopdong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `yeu_cau_gia_han_sinhvien_id_foreign` FOREIGN KEY (`sinhvien_id`) REFERENCES `sinhvien` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yeu_cau_gia_han`
--

LOCK TABLES `yeu_cau_gia_han` WRITE;
/*!40000 ALTER TABLE `yeu_cau_gia_han` DISABLE KEYS */;
/*!40000 ALTER TABLE `yeu_cau_gia_han` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-03 22:36:19
